<footer>
    <div class="container">
        <div class="social-media">
            <a class="btn-socialmedia" href="#"><i class="fa-brands fa-facebook"></i></a>
            <a class="btn-socialmedia" href="#"><i class="fa-brands fa-twitter"></i></a>
            <a class="btn-socialmedia" href="#"><i class="fa-brands fa-instagram"></i></a>
            <a class="btn-socialmedia" href="#"><i class="fa-brands fa-youtube"></i></a>
        </div>
        <p class="copyright">
            &copy; @DateTime.Now.Year Silicon by Createx Studio. All rights reserved.<span>I'm waiting in my cold cell when the bell begins to chime. Reflecting on my past life, and it doesn't have much time. Because 5 o' clock, they'll take me to the gallows pole. The sands of time for me are running low, running low, yeah. When the priest comes to read me the last rites, I take a look through the bars of the last sights of a world that has gone very wrong for me. Can it be there's been some sort of error? Hard to stop this surmounting terror... Is it really the end, not just some crazy dream?</span>
        </p>
    </div>
</footer>