section.not-found {
    .container {
        padding-top: 227px;
        padding-bottom: 64px;

        .content {
            display: flex;
            flex-direction: column;
            row-gap: 32px;
            align-items: center;
            text-align: center;

            img {
                width: 100%;
                max-width: 500px;
                padding-bottom: 56px;
            }

            a {
                width: fit-content;
            }
        }
    }
}
