section.signup-form {


    .container {
        padding-top: 118px;
        padding-bottom: 84px;
        max-width: 340px;

        @include md {
            max-width: 600px;
        }

        h1 {
            padding-bottom: 16px;
        }

        p {
            padding-bottom: 16px;
        }

        .form-content {
            margin-top: 30px;
            column-gap: 20px;
            row-gap: 15px;
            display: grid;
            grid-template-areas: "firstname" "lastname" "email" "password" "confirmpassword" "termsconditions" "submitform";
            grid-template-columns: 1fr;

            @include md {
                grid-template-areas: "firstname lastname" "email email" "password password" "confirmpassword confirmpassword" "termsconditions termsconditions" "submitform submitform";
                grid-template-columns: 1fr 1fr;
            }

            .first-name {
                grid-area: firstname;
            }

            .last-name {
                grid-area: lastname;
            }

            .email-address {
                grid-area: email;
            }

            .password {
                grid-area: password;
            }

            .confirm-password {
                grid-area: confirmpassword;
            }

            .checkbox-group {
                grid-area: termsconditions;
            }

            .submit-form {
                grid-area: submitform;
            }
        }
    }
}
