section.signup-success {

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 128px;
        padding-bottom: 128px;
        align-items: center;
        text-align: center;
        width: 85%;

        @include sm {
            width: 100%;
        }

        @include xl {
            width: 50%;
        }

        h1 {
            padding-bottom: 12px;
        }

        p {
            padding-bottom: 128px;
        }

        .btn-theme-primary {

            i {
                margin-left: 8px;
                margin-right: 0;
            }
        }
    }
}
