<section class="dark-light-mode">
    <div class="container">

        <div class="masking-wrapper">
            <div class="masking-area">
                <div class="both-light-modes light-mode">
                    <h1 class="unselectable">Switch Between Light & Dark Mode</h1>
                    <img class="unselectable macbook" src="~/images/home/macbook-pro-light.svg" alt="macbook-pro" draggable="false" />
                </div>
            </div>

            <button class="light-slider" draggable="false"><img src="~/images/home/slide-button.svg" alt="slider" draggable="false" /></button>
        </div>

        
        <div class="both-light-modes dark-mode">
            <h1 class="unselectable">Switch Between Light & Dark Mode</h1>
            <img class="unselectable macbook" src="~/images/home/macbook-pro-dark.svg" alt="macbook-pro" draggable="false" />
        </div>


    </div>
</section>
