<section class="download">
    <div class="container">
        <div class="content">
            <h1>Download Our App for Any Devices</h1>

            <div class="download-section">
                <p>App Store</p>
                <div class="rating">
                    <img src="~/images/home/rating-star.svg" />
                    <img src="~/images/home/rating-star.svg" />
                    <img src="~/images/home/rating-star.svg" />
                    <img src="~/images/home/rating-star.svg" />
                    <img src="~/images/home/rating-star.svg" />
                </div>
                <div class="bottom-row">
                    <div class="award">
                        <h4>Editor's Choice</h4>
                        <p>rating 4.7, 187K+ reviews</p>
                    </div>
                    <a class="light" href="#"><img src="~/images/logos/appstore_lightmode.svg" alt="appstore" /></a>
                    <a class="dark" href="#"><img src="~/images/logos/appstore_darkmode.svg" alt="appstore" /></a>
                </div>
            </div>

            <div class="download-section">
                <p>Google Play</p>
                <div class="rating">
                    <img src="~/images/home/rating-star.svg" />
                    <img src="~/images/home/rating-star.svg" />
                    <img src="~/images/home/rating-star.svg" />
                    <img src="~/images/home/rating-star.svg" />
                    <img src="~/images/home/rating-star.svg" />
                </div>
                <div class="bottom-row">
                    <div class="award">
                        <h4>App of the Day</h4>
                        <p>rating 4.8, 30K+ reviews</p>
                    </div>

                    <a class="light" href="#"><img src="~/images/logos/googleplay_lightmode.svg" alt="googleplay" /></a>
                    <a class="dark" href="#"><img src="~/images/logos/googleplay_darkmode.svg" alt="googleplay" /></a>
                </div>
            </div>
        </div>

        <div class="phone-screens">
            <img src="~/images/home/screens.svg" alt="iphone-12" />
        </div>
    </div>
</section>