<section class="management">
    <div class="container">
        <div class="content">
            <h2>Manage Your Work</h2>
            <ul>
                <li>Powerful project management</li>
                <li>Transparent work management</li>
                <li>Manage work & focus on the most important tasks</li>
                <li>Track your progress with interactive charts</li>
                <li>Easiest way to track time spent on tasks</li>
            </ul>
            
            <a class="btn-theme-primary btn-small" asp-action="SignUp" asp-controller="Auth">Learn more<i class="fa-solid fa-arrow-right"></i></a>
        </div>

        <div class="img-dashboard">
            <img src="~/images/home/dashboard.png" alt="dashboard" />
        </div>
    </div>
</section>