@model NewsSubscriberViewModel
@{
    string? subscribeResultMessage = TempData["StatusMessage"] as string ?? null;
    bool requestSuccessful = TempData["Successful"] is bool success && success;
}

<section class="newsletter" id="newsletter">
    <div class="container">
        <form id="form" method="post" asp-controller="Newsletter" asp-action="Subscribe">
            <div class="newsletter-text">
                <h1>Don't Want to Miss Anything?</h1>
                <img src="~/images/home/swirly_arrow.svg" alt="swirly_arrow" />
            </div>

            @{
                if (!string.IsNullOrEmpty(subscribeResultMessage))
                {
                    <div class="@(requestSuccessful ? "message-success" : "message-error") large">
                        @subscribeResultMessage
                    </div>
                }
            }

            <div class="newsletter-checkboxes">
                <h5>Sign up for Newsletters</h5>

                <div class="checkboxes">

                    <div class="checkbox-field">
                        <div class="input-field">
                            <input asp-for="DailyNewsletter" />
                            <label class="input-label" asp-for="DailyNewsletter"></label>
                        </div>
                        <span asp-validation-for="DailyNewsletter"></span>
                    </div>

                    <div class="checkbox-field">
                        <div class="input-field">
                            <input asp-for="AdvertisingUpdates" />
                            <label class="input-label" asp-for="AdvertisingUpdates"></label>
                        </div>
                        <span asp-validation-for="AdvertisingUpdates"></span>
                    </div>

                    <div class="checkbox-field">
                        <div class="input-field">
                            <input asp-for="WeekInReview" />
                            <label class="input-label" asp-for="WeekInReview"></label>
                            
                        </div>
                        <span asp-validation-for="WeekInReview"></span>
                    </div>

                    <div class="checkbox-field">
                        <div class="input-field">
                            <input asp-for="EventUpdates" />
                            <label class="input-label" asp-for="EventUpdates"></label>
                            
                        </div>
                        <span asp-validation-for="EventUpdates"></span>
                    </div>

                    <div class="checkbox-field">
                        <div class="input-field">
                            <input asp-for="StartupsWeekly" />
                            <label class="input-label" asp-for="StartupsWeekly"></label>
                            
                        </div>
                        <span asp-validation-for="StartupsWeekly"></span>
                    </div>

                    <div class="checkbox-field">
                        <div class="input-field">
                            <input asp-for="Podcasts" />
                            <label class="input-label" asp-for="Podcasts"></label>
                            
                        </div>
                        <span asp-validation-for="Podcasts"></span>
                    </div>

                </div>
            </div>

            <div class="email-submit">
                <div class="email-field">
                    <div class="input-field email-address">
                        <input asp-for="Email" />
                        
                    </div>
                    <input type="submit" class="btn-theme-primary" value="Subscribe*" />
                </div>
                <div class="email-text">
                    <p>*Yes, I agree to the <a href="#">terms</a> and <a href="#">privacy policy</a>.</p>
                    <span asp-validation-for="Email"></span>
                </div>
            </div>
        </form>
    </div>
</section>