<section class="showcase">
    
    <div class="container">
        <div class="placeholder"></div>
        <div class="info">
            <h1>Task Management Assistant You Gonna Love</h1>

            <p>We offer you a new generation of task management system. Plan, manage &Aacute; track all your tasks in one flexible tool.</p>
            
            <a class="btn-theme-primary btn-small" asp-action="SignUp" asp-controller="Auth">Get started for free</a>
            
            <h6>Largest companies use our tool to work efficiently</h6>

            <div class="our-companies">
                <a class="company-logo" href="#"><img src="~/images/logos/logoipsum_1.svg" alt="logoipsum" /></a>
                <a class="company-logo" href="#"><img src="~/images/logos/logoipsum_2.svg" alt="logoipsum" /></a>
                <a class="company-logo" href="#"><img src="~/images/logos/logoipsum_3.svg" alt="logoipsum" /></a>
                <a class="company-logo" href="#"><img src="~/images/logos/logoipsum_4.svg" alt="logoipsum" /></a>
            </div>
        </div>
    </div>

    <img class="img-task-master" src="~/images/home/task_master.png" alt="Silicon" />
</section>