@model AccountDetailsAddressViewModel
@inject AddressService _AddressService

@{
    if (ViewData["UserEntity"] is UserEntity userEntity)
    {
        var address = await _AddressService.GetFirstAddressBelongingToUserAsync(userEntity);
        if (address != null)
        {
            ViewData["Address1"] = address.Address_1;
            ViewData["Address2"] = address.Address_2;
            ViewData["PostalCode"] = address.PostalCode;
            ViewData["City"] = address.City;
        }
    }
    
}

<div class="account-address">

    <form id="form-address" class="form-common" method="post" asp-controller="Account" asp-action="UpdateAddress" asp-route-ReturnUrl="@ViewData["ReturnUrl"]">

        <h5>Address</h5>

        @{
            string keyName = "AddressStatusMessage";
            if (!string.IsNullOrEmpty(TempData[keyName] as string))
            {
                <div class="@($"{(TempData["AddressSuccess"] is bool succeed && succeed ? "message-success" : "message-error")}") large">
                    @TempData[keyName]
                </div>
            }
        }

        <div class="form-content">
            <div class="input-field address-line1">
                <label class="input-label" asp-for="Address_1"></label>
                <input asp-for="Address_1" value=@ViewData["Address1"] />
                <span asp-validation-for="Address_1"></span>
            </div>

            <div class="input-field address-line2">
                <label class="input-label" asp-for="Address_2"></label>
                <input asp-for="Address_2" value=@ViewData["Address2"] />
                <span asp-validation-for="Address_2"></span>
            </div>

            <div class="grid">
                <div class="input-field postal-code">
                    <label class="input-label" asp-for="PostalCode"></label>
                    <input asp-for="PostalCode" value=@ViewData["PostalCode"] />
                    <span asp-validation-for="PostalCode"></span>
                </div>

                <div class="input-field city">
                    <label class="input-label" asp-for="City"></label>
                    <input asp-for="City" value=@ViewData["City"] />
                    <span asp-validation-for="City"></span>
                </div>
            </div>


            <div class="save-cancel-buttons">
                <a class="btn-theme-secondary" asp-controller="Account" asp-action="CancelChanges">Cancel</a>
                <input class="btn-theme-primary submit-form" type="submit" value="Save changes" />
            </div>

        </div>
    </form>

</div>