@model AccountSecurityChangePasswordViewModel

<div class="change-password">
    <form id="form-password" class="form-common" method="post" asp-controller="Account" asp-action="UpdatePassword">

        <h5>Password</h5>

        @{
            string keyName = "PasswordStatusMessage";
            if (!string.IsNullOrEmpty(TempData[keyName] as string))
            {
                <div class="@($"{(TempData["PasswordSuccess"] is bool succeed && succeed ? "message-success" : "message-error")}") large">
                    @TempData[keyName]
                </div>
            }
        }

        <div class="form-content">
            <div class="grid">
                <div class="input-field current-password">
                    <label class="input-label" asp-for="CurrentPassword"></label>
                    <input asp-for="CurrentPassword" />
                    <span asp-validation-for="CurrentPassword"></span>
                </div>

                <div class="empty"></div>

                <div class="input-field new-password">
                    <label class="input-label" asp-for="NewPassword"></label>
                    <input asp-for="NewPassword" />
                    <span asp-validation-for="NewPassword"></span>
                </div>

                <div class="input-field confirm-password">
                    <label class="input-label" asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" />
                    <span asp-validation-for="ConfirmPassword"></span>
                </div>
            </div>

            <div class="save-cancel-buttons">
                <a class="btn-theme-secondary" asp-controller="Account" asp-action="CancelChanges">Cancel</a>
                <input class="btn-theme-primary submit-form" type="submit" value="Change password" />
            </div>
        </div>

    </form>
</div>