<div class="account-security">
    <h2>Security</h2>
    <partial name="~/Views/Partials/Sections/Account/_AccountChangePassword.cshtml" />
    <partial name="~/Views/Partials/Sections/Account/_AccountDeleteAccount.cshtml" />
</div>

<script src="~/js/partials/account/accountsecurity.js" type="module" defer></script>