@inject IConfiguration Configuration
@inject AccountService _AccountService

@{
    var userEntity = await _AccountService.GetUserAsync(User);

    
    if (userEntity != null)
    {
        ViewData["Name"] = $"{userEntity.FirstName} {userEntity.LastName}";
        ViewData["DisplayEmail"] = $"{userEntity.Email}";
    }
    else
    {
        ViewData["Name"] = "";
        ViewData["DisplayEmail"] = "";
    }

    string profileImgPath = await _AccountService.GetProfileImgSrc(User);
}

<div class="account-settings-menu">
    <div class="profile">
        <img class="account-profile-pic" src="@profileImgPath" alt="profile" />

        <form class="upload" enctype="multipart/form-data" method="post" asp-action="UploadProfileImage" asp-controller="Account">
            <input id="file-uploader" type="file" accept="image/png" name="file" hidden/>
            <label for="file-uploader">
                <img src="~/images/account/change.svg" alt="change" />
            </label>
            
        </form>
        
    </div>
    
    
    <h5>@ViewData["Name"]</h5>
    <p>@ViewData["DisplayEmail"]</p>

    <div class="menu-buttons">
        @{
            string defaultClass = "account-menu-button";
            string? currentMenu = ViewData["AccountSettingsMenu"] as string;

            <a class=@(defaultClass + $" {(currentMenu != null && currentMenu == "details" ? "active" : "")}") asp-controller="Account" asp-action="AccountSettings" asp-route-menuType="details"><i class="fa-regular fa-gear"></i>Account Details</a>
            <a class=@(defaultClass + $" {(currentMenu != null && currentMenu == "security" ? "active" : "")}") asp-controller="Account" asp-action="AccountSettings" asp-route-menuType="security"><i class="fa-regular fa-lock"></i>Security</a>
            
            <a class="account-menu-button" asp-controller="Auth" asp-action="SignOut"><i class="fa-sharp fa-regular fa-right-from-bracket"></i>Sign Out</a>
        }
    </div>
</div>

<script src="~/js/partials/account/accountsettingsmenu.js" defer></script>