section.download {
    background-color: var(--color-gray-100);



    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: auto;
        padding-top: 82px;
        padding-bottom: 82px;
        align-items: center;

        @include xl {
            display: grid;
            grid-template-areas: "images content";
            grid-template-rows: none;
            grid-template-columns: 1fr 1fr;
        }

        .content {
            grid-area: content;
            max-width: 416px;

            h1 {
                @include font-heading-h1;
                padding-bottom: 48px;
            }

            .download-section {
                padding-bottom: 40px;

                p {
                    color: var(--color-gray-600);
                    padding-bottom: 8px;
                }

                .rating {
                    padding-bottom: 16px;
                }

                .bottom-row {
                    display: flex;
                    flex-direction: row;

                    .award {
                        vertical-align: middle;
                        padding-right: 40px;

                        h4 {
                            @include font-heading-h4;
                        }

                        p {
                            @include font-body-m;
                        }
                    }

                    .light {
                        display: inline-block;
                    }

                    .dark {
                        display: none;
                    }

                    @include dark-mode {
                        .light {
                            display: none;
                        }

                        .dark {
                            display: inline-block;
                        }
                    }
                }
            }
        }

        .phone-screens {
            grid-area: images;
            padding-top: 64px;

            img {
                margin-left: 10%;
                width: 75%;
            }

            @include xl {
                padding-top: 32px;
            }
        }
    }
}
