section.management {

    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: auto;
        padding-top: 82px;
        padding-bottom: 82px;
        align-items: center;

        @include xl {
            display: grid;
            gap: 134px;
            grid-template-areas: "image content";
            grid-template-rows: none;
            grid-template-columns: 1fr 1fr;
        }

        .img-dashboard {
            grid-area: image;
            width: 100%;
            height: auto;
        }

        .content {
            grid-area: content;
            text-align: center;


            @include xl { //
                text-align: left;
            }

            h2 {
                @include font-heading-h2;
                padding-bottom: 42px;
            }

            @include unordered-checkbox-list {
                padding-bottom: 40px;

                li {
                    margin-bottom: 12px;
                }
            }

            .btn-theme-primary {
                i {
                    margin-left: 8px;
                    margin-right: 0;
                }
            }
        }
    }

    .img-dashboard {
        display: flex;

        img {
            width: 100%;
            height: auto;
        }
    }
}
