section.newsletter {
    background-color: var(--color-gray-100);

    .container {
        padding-top: 64px;

        @include sm {
            padding-top: 96px;
        }

        padding-bottom: 96px;
        padding-left: 0;
        padding-right: 0;
        align-items: center;

        form {
            display: flex;
            flex-direction: column;
            margin: auto;
            width: fit-content;
            row-gap: 20px;

            .newsletter-text {
                display: flex;
                flex-direction: row;
                justify-content: center;


                h1 {
                    padding-left: 4rem;
                    @include font-heading-h3;

                    @include sm {
                        @include font-heading-h1;
                    }
                }

                img {
                    padding-right: 4rem;
                }

                @include md {
                    gap: 36px;

                    h1 {
                        padding-left: 0;
                    }

                    img {
                        padding-right: 0;
                    }
                }
            }

            .newsletter-checkboxes {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 0 18px;

                @include sm {
                    flex-direction: row;
                }

                @include lg {
                    grid-template-columns: repeat(3, 1fr);
                    gap: 0 96px;
                }

                padding-bottom: 44px;

                h5 {
                    @include font-heading-h5;
                    text-align: center;
                    padding-bottom: 8px;

                    @include sm {
                        padding-bottom: 0;
                        text-align: left;
                        max-width: 128px;
                    }
                }

                .checkboxes {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 10px 4px;

                    @include sm {
                        gap: 10px 24px;
                    }

                    @include lg {
                        grid-template-columns: repeat(3, 1fr);
                        gap: 10px 64px;
                    }

                    @include xl {
                        gap: 10px 96px;
                    }
                }
            }

            input[type=checkbox] {
                height: 18px;
            }

            input[type=submit] {
                height: 100%;
            }

            .email-submit {
                display: flex;
                flex-direction: column;
                margin-left: 8px;
                margin-right: 8px;
                row-gap: 8px;

                .email-field {
                    display: grid;
                    grid-template-rows: auto auto;
                    padding: 0;
                    gap: 4px 16px;


                    @include sm {
                        grid-template-columns: 1fr auto;
                    }

                    .input-field {
                        gap: 0;
                    }
                }

                .email-text p {
                    color: var(--color-gray-600);
                }
            }
        }
    }
}
