section.showcase {
    background-color: var(--color-white);
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    @include xxl {
        display: grid;
        grid-template-areas: "container image";
        grid-template-rows: none;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .container {
        grid-area: container;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-areas: "info";
        text-align: center;

        @include xxl {
            text-align: left;
            grid-template-rows: none;
            grid-template-columns: 0.5fr 1fr;
            grid-template-areas: "placeholder info";
        }

        .placeholder {
            grid-area: placeholder;
        }

        .info {
            grid-area: info;

            h1 {
                @include font-display-5;

                @include md {
                    @include font-display-4;
                    margin-bottom: 36px;
                }
            }

            p {
                @include font-body-l;
                margin-bottom: 36px;
            }

            .btn-theme-primary {
                margin-bottom: 36px;

                @include xxl {
                    margin-bottom: 128px;
                }
            }

            h6 {
                @include font-heading-h6;
                margin-bottom: 18px;
            }

            .our-companies {
                display: grid;
                grid-template-columns: repeat(2, 1fr);

                @include md {
                    grid-template-columns: repeat(4, 1fr);
                }

                align-items: center;
                justify-content: center;

                @include xxl {
                    display: flex;
                    justify-content: left;
                    align-items: center;
                }
            }
        }
    }

    .img-task-master {
        grid-area: image;
        display: block;
        width: 100%;
        height: auto;
        max-width: 100%;

        @include xxl {
            margin-left: 0;
            margin-right: 0;
        }
    }
}
