<section class="signup-success">
    <div class="container">
        <h1>Success!</h1>
        <p>Your account has been created. Press the button below to sign in.</p>

        <a class="btn-theme-primary" asp-controller="Auth" asp-action="SignIn">Sign In<i class="fa-solid fa-arrow-right"></i></a>
    </div>
</section>