@model SignUpViewModel

<section class="signup-form">
    <div class="container">

        <form id="form" method="post" asp-controller="Auth" asp-action="SignUp">
            <h1>Create Account</h1>
            <label>Already have an account? <a asp-asp-controller="Auth" asp-action="SignIn">Sign in here.</a></label>

            @{
                if (ViewData.ContainsKey("StatusMessage") && !string.IsNullOrEmpty(ViewData["StatusMessage"] as string))
                {
                    <div class="message-error large">
                        @ViewData["StatusMessage"]
                    </div>
                }
            }

            <div class="form-content">

                <div class="input-field first-name">
                    <label class="input-label" asp-for="FirstName"></label>
                    <input asp-for="FirstName" />
                    <span asp-validation-for="FirstName"></span>
                </div>

                <div class="input-field last-name">
                    <label class="input-label" asp-for="LastName"></label>
                    <input asp-for="LastName" />
                    <span asp-validation-for="LastName"></span>
                </div>

                <div class="input-field email-address">
                    <label class="input-label" asp-for="Email"></label>
                    <input asp-for="Email" />
                    <span asp-validation-for="Email"></span>
                </div>

                <div class="input-field password">
                    <label class="input-label" asp-for="Password"></label>
                    <input asp-for="Password" />
                    <span asp-validation-for="Password"></span>
                </div>

                <div class="input-field confirm-password">
                    <label class="input-label" asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" />
                    <span asp-validation-for="ConfirmPassword"></span>
                </div>

                <div class="checkbox-field">
                    <div class="input-field">
                        <input asp-for="TermsAndConditions" />
                        <label asp-for="TermsAndConditions">
                            I agree to the <a asp-action="Terms" asp-controller="About">Terms</a> & <a asp-action="Conditions" asp-controller="About">Conditions</a>.
                        </label>
                    </div>
                    <span asp-validation-for="TermsAndConditions"></span>
                </div>

                <button class="btn-theme-primary submit-form" type="submit">Sign up</button>

            </div>
        </form>

    </div>
</section>