@mixin button-base {
    @include font-weight-semibold;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    padding: 9px 20px;
    gap: 8px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease-in-out;

    i {
        margin-right: 8px;
        transition: none;
    }

}

.btn-theme-primary {
    @include button-base;
    background-color: var(--color-theme);
    border: 2px solid var(--color-theme);
    color: var(--color-btn-white);

    &:hover {
        background-color: var(--color-white);
        color: var(--color-theme);
    }
}

.btn-theme-secondary {
    @include button-base;
    background-color: var(--color-gray-200);
    border: 2px solid var(--color-gray-200);
    color: var(--color-gray-800);

    &:hover {
        background-color: var(--color-white);
        border-color: var(--color-gray-200);
    }
}

.btn-theme-danger {
    @include button-base;
    background-color: var(--color-danger);
    border: 2px solid var(--color-danger);
    color: var(--color-btn-white);

    &:hover {
        background-color: var(--color-white);
        color: var(--color-danger);
    }
}

.btn-youtube {
    @include button-base;
    background-color: #EF4444;
    border: 2px solid #EF4444;
    color: var(--color-btn-white);

    &:hover {
        background-color: transparent;
        color: #EF4444;
    }
}

.btn-facebook {
    @include button-base;
    background-color: #4C82F7;
    border: 2px solid #4C82F7;
    color: var(--color-btn-white);

    &:hover {
        background-color: transparent;
        color: #4C82F7;
    }
}

.btn-small {
}

.btn-mobile {
    @include button-base;
    background-color: var(--color-gray-200);
    border: 2px solid var(--color-gray-200);
    color: var(--color-gray-800);
    padding: 12px 16px;

    i {
        margin-right: 0;
    }

    &:hover {
        background-color: var(--color-white);
        border-color: var(--color-gray-200);
    }
}

.btn-socialmedia {
    @include button-base;
    background-color: var(--color-gray-200);
    border: 2px solid var(--color-gray-200);
    color: var(--color-gray-800);
    padding: 12px 16px;

    i {
        margin-right: 0;
    }

    &:hover {
        background-color: var(--color-white);
        border-color: var(--color-gray-200);
    }
}

.btn-pagination {
    @include button-base;
    background-color: transparent;
    border: 2px solid transparent;
    color: var(--color-gray-800);
    padding: 12px 16px;

    i {
        margin-right: 0;
        pointer-events: none;
    }

    &:hover {
        background-color: var(--color-gray-200);
        border: 2px solid var(--color-gray-200);
        color: var(--color-gray-800);
    }

    &.active {
        background-color: var(--color-theme);
        border: 2px solid var(--color-theme);
        color: var(--color-btn-white);

        &:hover {
            background-color: var(--color-white);
            color: var(--color-theme);
            border: 2px solid var(--color-theme);
        }
    }
}

.btn-download-app {
    @include button-base;
    background-color: var(--color-gray-900);
    padding: 8px 20px;
    margin: 0;
    gap: 8px;

    img {
        padding: 0;
        margin: 0;
    }
}