.dropdown-field {
    position: relative;

    &.input-validation-error {
        .current-option {
            border: 1px solid var(--color-danger);
        }
    }

    .current-option {
        @include font-body-m;
        display: grid;
        border: 1px solid var(--color-gray-500);
        border-radius: 8px;
        color: var(--color-gray-700);
        background-color: var(--color-white);
        height: 100%;
        width: 100%;

        cursor: pointer;
        align-items: center;
        grid-template-areas: "text icon";
        grid-template-columns: 1fr auto;
        flex-grow: 1;
        padding: 0 16px;

        p {
            grid-area: text;
        }

        i {
            grid-area: icon;
        }
    }
    /*    .dropdown-window {
        @include font-body-m;
        display: flex;
        border: 1px solid var(--color-gray-500);
        border-radius: 8px;
        color: var(--color-gray-700);
        background-color: var(--color-white);
        height: 100%;
        width: 100%;

        @include xl {
            width: 240px;
        }

        .current-option {
            display: grid;
            cursor: pointer;
            align-items: center;
            grid-template-areas: "text icon";
            grid-template-columns: 1fr auto;
            flex-grow: 1;
            margin: 0 16px;

            p {
                grid-area: text;
            }

            i {
                grid-area: icon;
            }
        }*/

    .dropdown {
        display: none;
        position: absolute;
        max-height: 0;
        width: 100%;
        border: 1px solid;
        border-color: var(--color-gray-500);
        border-radius: 8px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        overflow: hidden;
        overflow-y: scroll;
        z-index: 10;

        .option {
            padding: 8px 8px;
            background-color: var(--color-white);
            color: var(--color-gray-900);
            transition: ease-in-out 0.1s;
            cursor: pointer;

            &:hover {
                background-color: var(--color-theme);
                color: var(--color-btn-white);
            }
        }

        &.active {
            display: block;
            max-height: 50vh;
        }
    }
}
