header {
    display: table-header-group;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 4;
    background-color: var(--color-white);
    //transition: background-color ease-in-out 0.3s; // For dark mode transitions.

    & + main {
        margin-top: 79px;
    }

    #backdrop {
        transition: all 0.2s;
        position: absolute;
        top: 79px;
        left: 0;
        width: 100%;
        height: 100vh;
        backdrop-filter: none;
        pointer-events: none;

        &.active {
            pointer-events: fill;
            backdrop-filter: blur(4px) brightness(20%);
        }
    }

    .container {
        position: relative;
        display: grid;
        align-items: center;
        gap: 40px;
        //grid-template-columns: auto 1fr auto auto;
        grid-template-columns: 1fr auto;
        grid-template-areas: "logo mobile";

        @include sm {
            grid-template-columns: auto 1fr auto auto;
            grid-template-areas: "logo nav switch mobile";
        }

        @include xl {
            grid-template-columns: auto 1fr auto auto;
            grid-template-areas: "logo nav switch account";
        }

        .logo {
            grid-area: logo;

            &.light {
                display: block;

                @include dark-mode {
                    display: none;
                }
            }

            &.dark {
                display: none;

                @include dark-mode {
                    display: block;
                }
            }
        }

        nav {
            max-width: 50vh;
            position: absolute;
            height: 100vh;
            overflow-y: scroll;
            right: 0;
            top: 64px;
            bottom: -1000px;

            &::-webkit-scrollbar {
                display: none;
            }

            @include xl {
                max-width: initial;
                position: static;
                height: auto;
                right: 0;
                top: 0;
                bottom: 0;
            }

            -ms-overflow-style: none;

            .header-subdiv {
                transform: translateX(140%);
                //padding-right: 128px;

                display: flex;
                flex-direction: column;
                background-color: var(--color-white);
                height: fit-content;
                padding-bottom: 50vh;

                @include xl {
                    overflow-y: initial;
                    transform: none;
                    transition: none;
                    background: none;
                    flex-direction: row;
                    padding-bottom: 0;
                    display: flex;
                    grid-area: nav;
                    gap: 20px;
                }

                &.open {
                    transform: translate(0%);
                }

                .responsive-account-menu {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-top: 16px;

                    @include xl {
                        display: none;
                    }

                    .responsive-profile-pic {
                        border-radius: 50%;
                        width: 25%;
                        height: auto;
                    }

                    h5, p {
                        @include xl {
                            display: none;
                        }
                    }

                    padding-bottom: 32px;
                }



                a {
                    background-color: var(--color-white);
                    transition: background-color 0.1s;
                    @include font-weight-semibold;
                    text-decoration: none;
                    color: var(--color-gray-800);
                    padding-top: 16px;
                    padding-bottom: 16px;
                    padding-right: 192px;
                    padding-left: 32px;
                    align-items: center;
                    border-width: 4px;
                    border-style: solid;
                    border-left: none;
                    border-right: none;
                    border-top: none;
                    border-bottom-width: 1px;
                    border-image: linear-gradient(to right, transparent 0%, var(--color-gray-400) 25%, var(--color-gray-400) 75%, transparent 100%) 1;

                    &.responsive-menu-button {

                        i {
                            padding-right: 8px;
                        }
                    }

                    &:hover {
                        background-color: var(--color-theme);
                        color: var(--color-btn-white);
                    }

                    @include xl {
                        border: none;
                        @include font-weight-semibold;
                        text-decoration: none;
                        background: none;
                        padding: 0;
                        align-items: none;

                        &:active,
                        &.active,
                        &:hover {
                            background: none;
                            color: var(--color-theme);
                            text-decoration: underline;
                        }

                        &.responsive-menu-button,
                        &.responsive-profile-pic {
                            display: none;
                        }
                    }
                }
            }
        }

        .btn-switch {
            grid-area: switch;
            display: none;

            @include sm {
                display: flex;

                .switch {
                    margin-left: 8px;
                    margin-right: 8px;
                }

                a {
                    @include font-navigation;
                }
            }
        }

        .account-buttons {
            grid-area: account;
            display: none;
            gap: 20px;

            @include xl {
                display: flex;
            }

            img {
                border-radius: 50%;
                width: 44px;
                height: 44px;
            }
        }

        .btn-mobile {
            grid-area: mobile;
            display: block;

            @include xl {
                display: none;
            }
        }

        @include sm {
            max-width: 1320px;
        }

        @include md {
            max-width: 1320px;
        }

        @include lg {
            max-width: 1320px;
        }

        @include xl {
            max-width: 1140px;
        }

        @include xxl {
            max-width: 1320px;
        }
        /*        @include sm {
            max-width: 540px;
        }

        @include md {
            max-width: 720px;
        }

        @include lg {
            max-width: 960px;
        }

        @include xl {
            max-width: 1140px;
        }

        @include xxl {
            max-width: 1320px;
        }*/
    }
}
