@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
:root {
  --font-manrope: "Manrope", sans-serif;
}

h1 {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: var(--color-gray-900);
  font-size: 40px;
}

h2 {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: var(--color-gray-900);
  font-size: 32px;
}

h3 {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: var(--color-gray-900);
  font-size: 28px;
}

h4 {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: var(--color-gray-900);
  font-size: 24px;
}

h5 {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: var(--color-gray-900);
  font-size: 20px;
}

h6 {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: var(--color-gray-900);
  font-size: 16px;
}

p {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

p a, label a {
  color: var(--color-theme);
}
