footer {
  margin: 20px;
}
footer .container {
  text-align: center;
}
footer .container .social-media {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}
footer .container .copyright {
  font-size: 14px;
  width: 100%;
}
